body {
    font-family: 'Roboto', sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    padding: 20px;
}

h1 {
    font-size: 2.5em;
    margin: 0;
    color: #61dafb; /* Primary color */
}

h2 {
    font-size: 1.5em;
    margin: 0;
}

.floating-tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.floating-tab {
    background-color: #1e1e1e;
    border-radius: 10px;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
    width: 90%; /* Centering the tabs */
    transition: transform 0.3s, opacity 0.3s;
    opacity: 0;
    transform: translateY(20px);
}

.floating-tab.visible {
    opacity: 1;
    transform: translateY(0);
}

section {
    margin: 20px 0;
}

h3 {
    font-size: 1.3em;
    color: #ffa500; /* Secondary color */
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    padding: 5px 0;
}

a {
    color: #61dafb;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.project {
    background-color: #2b2b2b;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: calc(30% - 20px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

.project h3 {
    margin-top: 0;
}

.skills-container {
    display: flex;
    justify-content: center; /* Centering the skills */
    flex-wrap: wrap;
}

.skill-tab {
    width: 30%;
    margin: 10px;
    min-width: 200px; /* Ensures minimum width on small screens */
}

.github-floating-btn, .linkedin-floating-btn {
    position: fixed;
    padding: 10px 15px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #333;
    text-decoration: none;
    z-index: 1000;
}

.github-floating-btn {
    top: 20px;
    left: 20px;
}

.linkedin-floating-btn {
    top: 20px;
    right: 20px;
}

.floating-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #61dafb;
    color: #121212;
    border: none;
    border-radius: 50%;
    padding: 15px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.floating-btn:hover {
    background-color: #4dc4e0;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e1e1e;
    position: relative;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .skills-container {
        flex-direction: column;
        align-items: center;
    }

    .skill-tab {
        width: 100%;
    }

    .project {
        width: 100%;
    }
}
